body {
  color: #f1f1f1;
  background-color: #212121;
  padding: 1rem 1.25rem;
  margin: 0;
  font-family: sans-serif;
}

label {
  display: flex;
}

.required {
  color: rgb(255, 79, 79);
  margin-top: 2.25rem;
  margin-left: 0.4rem;
}

.settings h1 {
  font-size: 1.5rem;
  border-bottom: 1px solid #3f3f3f;
  margin-top: 0.7rem;
}

.settings h2 {
  font-size: 1.3rem;
  margin-top: 1.75rem;
  margin-bottom: 0.35rem;
}

.settings label:first-of-type * {
  margin-top: 0.4rem;
}

.settings .row {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  border: 1px solid #3f3f3f;
  border-radius: 0.5rem;
  padding: 0.6rem;
}

.settings .row .text {
  padding: 0.35rem 0;
  margin-left: 0.3rem;
  font-size: 0.9rem;
  opacity: 0.95;
}

p {
  margin-top: 0;
  line-height: 1.5;
  opacity: 0.8;
  font-size: 0.9rem;
}

a {
  color: rgb(117, 191, 255);
  text-decoration: none;
}

input, textarea, select {
  width: calc(100% - 1.5rem);
  background-color: #333;
  color: #f1f1f1;
  border: 1px solid #3f3f3f;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

select {
  width: 100%;
}

textarea {
  resize: vertical;
}

.settings button {
  background-color: #235285;
  color: #f1f1f1;
  border: none;
  padding: 0.65rem 0.75rem;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  transition-duration: 600ms;
}

button.saved {
  background-color: #15314f;
}

.settings .toggle {
  appearance: none;
  background-color: #333;
  border: 1px solid #3f3f3f;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-duration: 250ms;
}

.settings .toggle:checked {
  background-color: #235285;
}

.ad {
  border: #4d4d4d 1px solid;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  margin: 1.2rem 0;
  padding: 0.8rem 0.95rem;
}

.ad h1 {
  font-size: 1.15em;
  font-weight: normal;
  margin-top: 0;
  color: rgb(117, 191, 255);
}

.ad h2 {
  font-size: 1.1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.ad p {
  font-size: 1.1em;
}

.ad .button {
  display: inline;
  background-color: #235285;
  color: #f1f1f1;
  border: none;
  padding: 0.55rem 1rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-duration: 250ms;
}

.ad .button:hover {
  background-color: #1f4772;
}

.ad .button-wrapper {
  margin-top: 1.3rem;
  margin-bottom: 0.6rem;
}

.ad img {
  float: right;
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  border-radius: 100%;
}