body {
  color: #f1f1f1;
  background-color: #212121;
  padding: 1rem 1.25rem;
  margin: 0;
}

label {
  display: flex;
}

.required {
  color: rgb(255, 79, 79);
  margin-top: 2.25rem;
  margin-left: 0.4rem;
}

h1 {
  font-size: 1.5rem;
  border-bottom: 1px solid #3f3f3f;
  margin-top: 0.7rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: 1.75rem;
  margin-bottom: 0.35rem;
}

p {
  margin-top: 0;
  line-height: 1.5;
  opacity: 0.8;
  font-size: 0.9rem;
}

a {
  color: rgb(117, 191, 255);
  text-decoration: none;
}

input, textarea {
  width: calc(100% - 1.5rem);
  background-color: #333;
  color: #f1f1f1;
  border: 1px solid #3f3f3f;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

textarea {
  resize: vertical;
}

button {
  background-color: #235285;
  color: #f1f1f1;
  border: none;
  padding: 0.65rem 0.75rem;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  transition-duration: 600ms;
}

button.saved {
  background-color: #15314f;
}